<div class="row question">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="media">
                    <div class="mr-3">
                        <div class="row">
                            <div class="col">
                                <img class="rounded-circle ml-1" src="{{ question.author.upload.url }}" alt="no image" style="width: 100px; height: 100px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-center my-1"><a href="{% url 'profile_name' question.author.user.username %}">{{ question.author|truncatechars_html:15 }}</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'question_id' question.id %}" class="btn 
                                {% if question.answers_count %}
                                    btn-success
                                {% else %}
                                    btn-light
                                {% endif %}
                                ">Answers <span class="badge badge-light">{{ question.answers_count }}</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-center my-1 font-italic">{{ question.date|date:"d-m-Y" }}</p>
                            </div>
                        </div> 
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0">{{ question.title }}</h5>
                        <p>{{ question.text }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between  align-items-center">
            <div class="d-none d-md-block col-md-7 col-lg-8">
                {% if question.tags.all %}
                    tags:
                {% endif %}
                {% for tag in question.tags.all  %}
                    <a href="{% url 'question_tag' tag %}" class="badge badge-pill badge-info">{{tag}}</a>
                {% endfor %}
            </div>
            <div class="horizontal-counter col-7 offset-5 offset-sm-5 col-sm-7 offset-md-0 col-md-5 col-lg-4 col-xl-3">  
                <div class="input-group">
                    <button type="button" class="btn btn-outline-danger merge-left-button minus-button"><i class="far fa-thumbs-down fa-lg"></i></button>
                    <div class="form-control text-center merge-middle-button" name="first" disabled="disabled">1</div>
                    <button type="button" class="btn  btn-outline-success merge-right-button"><i class="far fa-thumbs-up fa-lg"></i></button>
                </div>  
            </div>
        </div>
    </div>
</div>